
#map {
	height:650px;
}

.col-4 {
	padding: 0px;
}

#filterForm {
	padding-top:15px;
	padding-top:15px;
	padding-left:30px;
	padding-right:70px;
}

#category-div {
	padding-left: 3px;
	height: 180px;
	overflow: scroll;
}

.category-code {
	height:12px;
	width: 12px;
}