<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        const sfCoords = {lat: 37.7749, lng: -122.4194};
        const markers = [];

        // Create map
        const map = new google.maps.Map(document.getElementById('map'), {
          center: sfCoords,
          zoom: 12
        });

        // Get crime data
        $.ajax({
          url: "https://data.sfgov.org/resource/nwbb-fxkq.json",
          type: "GET",
          data: {
            "$limit" : 5000,
            "$$app_token" : "Y6mTFPFpnPQzYXxLv0LVidpom"
          }
        }).done(function(data) {
          let crimeData = data;
          for (let i = 0; i < crimeData.length; i++) {
            markerData = getMarkerData(crimeData[i])
            
            lat = markerData['latitude']
            lng = markerData['longitude']

            marker = addMarker(lat, lng, map);
            addInfoWindow(marker, markerData, map);
            markers.push(marker);

          }

        });
      }

      function getMarkerData(data){
        markerData = {};

        markerData['incident_datetime'] = data['incident_datetime'];
        markerData['incident_category'] = data['incident_category'];
        markerData['incident_subcategory'] = data['incident_subcategory'];
        markerData['incident_description'] = data['incident_description'];
        markerData['resolution'] = data['resolution'];
        markerData['latitude'] = parseFloat(data['latitude']);
        markerData['longitude'] = parseFloat(data['longitude']);
        
        return markerData;
      }


      // Create marker at lat long
      function addMarker(latitude, longitude, map) {
        
        const marker = new google.maps.Marker({
          position: {lat: latitude, lng: longitude},
          map: map,
          title: `${latitude}, ${longitude}`   
        }); 

        return marker;
      }


      // Create tooltip for marker
      function addInfoWindow(marker, data, map){
        const contentString = `<div id="content">
          <div id="siteNotice"></div>
          <p id="firstHeading" class="firstHeading"><b> ${data['incident_datetime']} </b></p>
          <div id="bodyContent">
          <p> category: ${data['incident_category']}
          <br> subcategory: ${data['incident_subcategory']}
          <br> description: ${data['incident_description']}
          <br> resolution: ${data['resolution']} </p>
          </div>
          </div>`;
        
        // Add content to tooltip
        const infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        // On click, show tooltip
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
        

    </script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ key }}&callback=initMap" async defer>
    </script>
  </body>
</html>