<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>

    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/stylesheet.css">

  </head>
  
  <body>
    <!-- Top menu -->
    <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
        <div class="container">
            <a class="navbar-brand" href="index.html"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="https://github.com/ciestupinan/geocrime">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Project Description -->
    <div class="top-content">
        <div class="container">

            <div class="row">
                <div class="col-md-8 offset-md-2 text">
                    <h3 class="wow fadeInLeftBig">GeoCrime</h3>
                    <div class="description wow fadeInLeftBig">
                        <p>
                        This project displays up-to-date <a href="https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-2018-to-Present/wg3w-h783">data</a> from the San Francisco Police Department police reports. Reports included are those for incidents that occurred starting January 1, 2018 onward and have been approved by a supervising officer.
                        <br><br>
                        Incidents can be filtered by date, time of day, category type, and resolution. Each category has a color code. To learn more about what types of reports are filed as those categories, hover over the color code to read the tooltip. 
                        <br><br>
                        To display incidents at the same location, I used the <a href="https://github.com/jawj/OverlappingMarkerSpiderfier">Overlapping Marker Spiderfier</a> library. When one of these incidents are clicked, all of the incidents at that location with spider out.
                        </p>
                    </div>
                </div>
            </div>
     
        </div>            
    </div>

    <!-- Project Demo -->
    <div class="demo">
        <div class="container">
            
            <div class="row">
                <div class="col-6">
                   <div id="map"></div>
                </div>

                <div class="col-6" id="content">

                    <div class="row">
                        <div class="col-7" id="form-col">

                            <h4>Police Report Filters</h4>
                            <form name="filterForm" id="filterForm">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input class="form-control" type="date" id="date">
                                </div>

                                <div class="form-group">
                                    <label for="time">Time of Day</label>
                                    <select class="form-control" name="time" id="time">
                                        <option value="---">---</option>
                                        <option value="AM">AM</option>
                                        <option value="PM">PM</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                  <label for="category">Category <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="right" data-html="true" data-content="See key to the right"><img id="help" src="static/images/help.png"></span></label>
                                  <select class="form-control" name="category" id="category" >
                                    
                                    <option value="---">---</option>
                                    <option value="Arson">Arson</option>
                                    <option value="Assault">Assault</option>
                                    <option value="Burglary">Burglary</option>
                                    <option value="Case Closure">Case Closure</option>
                                    <option value="Civil Sidewalks">Civil Sidewalks</option>

                                    <option value="Courtesy Report">Courtesy Report</option>
                                    <option value="Disorderly Conduct">Disorderly Conduct</option>
                                    <option value="Drug Offense">Drug Offense</option>
                                    <option value="Drug Violation">Drug Violation</option>
                                    <option value="Embezzlement">Embezzlement</option>
                                    <option value="Family Offense">Family Offense</option>
                                    
                                    <option value="Fire Report">Fire Report</option>
                                    <option value="Forgery And Counterfeiting">Forgery And Counterfeiting</option>
                                    <option value="Fraud">Fraud</option>
                                    <option value="Homicide">Homicide</option>
                                    <option value="Human Trafficking (A), Commercial Sex Acts">Human Trafficking (A), Commercial Sex Acts</option>
                                    <option value="Larceny Theft">Larceny Theft</option>
                                    
                                    <option value="Lost Property">Lost Property</option>
                                    <option value="Malicious Mischief">Malicious Mischief</option>
                                    <option value="Miscellaneous Investigation">Miscellaneous Investigation</option>
                                    <option value="Missing Person">Missing Person</option>
                                    <option value="Motor Vehicle Theft">Motor Vehicle Theft</option>
                                    <option value="Non-Criminal">Non-Criminal</option>

                                    <option value="Offences Against The Family And Children">Offences Against The Family And Children</option>
                                    <option value="Other">Other</option>
                                    <option value="Other Miscellaneous">Other Miscellaneous</option>
                                    <option value="Other Offenses">Other Offenses</option>
                                    <option value="Prostitution">Prostitution</option>
                                    <option value="Rape">Rape</option>

                                    <option value="Robbery">Robbery</option>
                                    <option value="Sex Offense">Sex Offense</option>
                                    <option value="Stolen Property">Stolen Property</option>
                                    <option value="Suicide">Suicide</option>
                                    <option value="Suspicious Occ">Suspicious Occ</option>
                                    <option value="Traffic Collision">Traffic Collision</option>

                                    <option value="Traffic Violation Arrest">Traffic Violation Arrest</option>
                                    <option value="Vandalism">Vandalism</option>
                                    <option value="Vehicle Impounded">Vehicle Impounded</option>
                                    <option value="Vehicle Misplaced">Vehicle Misplaced</option>
                                    <option value="Warrant">Warrant</option>
                                    <option value="Weapons Carrying Etc">Weapons Carrying Etc</option>
                                    <option value="Weapons Offense">Weapons Offense</option>
                                  </select>
                                </div>


                                <div class="form-group">
                                    <label for="resolution">Resolution <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Outcome of incident at time of report"><img id="help" src="static/images/help.png"></span></label>
                                    <select class="form-control" name="resolution" id="resolution">
                                        <option value="---">---</option>
                                        <option value="Cite or Arrest Adult">Cite or Arrest Adult</option>
                                        <option value="Cite or Arrest Juvenile">Cite or Arrest Juvenile</option>
                                        <option value="Exceptional Adult">Exceptional Adult</option>
                                        <option value="Open or Active">Open or Active</option>
                                        <option value="Unfounded">Unfounded</option>
                                    </select>
                                </div>

                                <input id="submit-button" type="submit" value="Update Map">
                            </form>
                        </div>
                        <div class = "col-5">
                              
                              <h5>Category Key</h5>
                              <div class="category-key">
                                <p>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes arson of vehicle, attempted arson, arson of an inhabited dwelling"><img class="category-code" src="static/images/aqua.png"> Arson</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes non-aggravated assault, battery (sexual, of a police officer, former spouse or dating relationship, with serious injuries), aggravated assault (on a police officer with other weapon, on non-police officer with other weapon, with force), and false imprisonment."><img class="category-code" src="static/images/aqua_black_outline.png"> Assault</span>
                                  
                                  <br>      
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes unlawful or forcible entry of store, hot prowl, residence, non-residence, warehouse, or construction site."> <img class="category-code" src="static/images/aqua_outline.png"> Burglary</span>
                                  
                                  <br>      
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Case Closure"><img class="category-code" src="static/images/black.png"> Case Closure</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Effective December 17, 2010, Proposition L, “Sitting or Lying on Sidewalks.”, prohibits individuals, with certain exceptions, from sitting or lying on the City’s public sidewalks between the hours of 7 AM and 11 PM. This report includes bookings, citations, and warnings."><img class="category-code" src="static/images/black_outline.png"> Civil Sidewalks</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Reports filed as a courtesy, though no evidence of a crime was commited."><img class="category-code" src="static/images/blue.png"> Courtesy Report</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes terrorist threats, threatening or annoying phone calls, public nuisance, and incidents on school grounds."><img class="category-code" src="static/images/blue_outline.png"> Disorderly Conduct</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="A drug offense includes the sale, possession, possesion for sale, or transporting of cocaine, marijuana, opiates, methamphetamine, heroin and other narcotics. A drug violation being armed while possessing a controlled substance."><img class="category-code" src="static/images/brown.png"> Drug Offense or Violation</span>
                                  
                                  <br>   
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Embezzlement"><img class="category-code" src="static/images/lightgreen_outline.png"> Embezzlement</span>
                                  
                                  <br>     
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes child abuse, specifically inflicting physical pain, mental suffering, or death to a child."><img class="category-code" src="static/images/fuscia_black_outline.png"> Family Offense</span>
                                  
                                  <br>  
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Fire report"><img class="category-code" src="static/images/darkgreen.png"> Fire Report</span>
                                  
                                  <br>  
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes possessing, making, or uttering false checks, forged checks or legal instruments, fraudulent possession of blank or forged checks, possessing or receiving counterfeit coins or notes, false evidence of vehicle registration, and forgery felonies."><img class="category-code" src="static/images/darkgreen_outline.png"> Forgery And Counterfeiting</span>
                                  
                                  <br>  
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes the fraudulent use or theft of credit cards, phone cards, ATM card, fraudulent game/trick to obtain money or property, possession of access card counterfeiting machinery, false personation to receive money or property, the intent to sell fraudulent credit cards, phone cards, ATM cards, checks, etc."><img class="category-code" src="static/images/fuscia.png"> Fraud</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes homicide with a weapon, force, or sharp object, and vehicular manslaughter."><img class="category-code" src="static/images/brown_black_outline.png"> Homicide</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="The term “commercial sex act” means any sex act on account of which anything of value is given to or received by any person. This includes pimping."><img class="category-code" src="static/images/fuscia_outline.png"> Human Trafficking (A), Commercial Sex Acts</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes shoplifting, bicylce theft, license plate theft, theft from building, vehicle theft (arrest made), theft from an unlocked or locked vehicle, theft of checks or credit cards, pickpocketing, petty theft, and theft from person other than pickpocket."><img class="category-code" src="static/images/grey_black_outline.png"> Larceny Theft</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Lost Property: When property has disappeared and not stolen -- if you think it could have been taken but you have no idea by who."><img class="category-code" src="static/images/lightblue_black_outline.png"> Lost Property</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes breaking windows, vandalism or graffiti, harrassing phone calls, tire slashing, animal cruelty, and false fire alarms."><img class="category-code" src="static/images/green.png"> Malicious Mischief</span>
                                  
                                  <br>     
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Miscellaneous Investigation"><img class="category-code" src="static/images/green_black_outline.png"> Miscellaneous Investigation</span>
                                  
                                  <br>     
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes reports of missing persons and found persons."><img class="category-code" src="static/images/green_outline.png"> Missing Person</span>
                                  
                                  <br>   
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes stolen and recovered cars, trucks, and motorcycles."><img class="category-code" src="static/images/grey.png"> Motor Vehicle Theft</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes dog bites or attacks, turned in firearms, mental health detention, search warrent services, non-DV related court orders, and found property."><img class="category-code" src="static/images/grey_outline.png"> Non-Criminal</span>
                                  
                                  <br>      
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes stalking, violation of stay away or restraining orders, abandonment and neglect of a child, domestic violence, elderly adult or dependent abuse, and juvinile involvement."><img class="category-code" src="static/images/lightblue.png"> Offences Against The Family And Children</span>
                                  
                                  <br>   
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes death reports of unknown or natural causes."><img class="category-code" src="static/images/lightblue_outline.png"> Other</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes trespassing, investivative detention, driving with no licensed issues or with a suspended/revoked license, driving while under the influence of drugs, conspiracy, violated probation, defrauding providers of food, fuel, services, or accomodations, extortion or blackmail, and resisting, delaying, or obstructing peace officer duties."><img class="category-code" src="static/images/lightgreen_outline.png"> Other Miscellaneous</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes lost, recovered, or found license plates, discharging offensive or injurious substances in a public area, Loitering and Peeking into Inhabited Structure, Throwing Object at Common Carrier, Passenger or Freight, Throwing Injurious Substance on Highway, Air Gun Possession, Obstructions On Streets and Sidewalks, Park Code Violation, Municipal Police Code Violation, Municipal Code Violation, Peddling Without A License, Alcohol Consuming In Public View, Defrauding Gas Station/Taxi Driver, Permit Violation, and Fire Code Violation."><img class="category-code" src="static/images/brown_outline.png"> Other Offenses</span>
                                  
                                  <br>   
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes Pandering, Loitering for Purpose of Prostitution, Soliciting or Engaging In Lewd Conduct, and Solicits For Act Of Prostitution"><img class="category-code" src="static/images/orange_black_outline.png"> Prostitution</span>
                                  
                                  <br>  
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes Oral Copulation (Unlawful), Unlawful Sexual Intercourse with Minor, and Sodomy."><img class="category-code" src="static/images/orange.png"> Rape</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Recovered vehicle"><img class="category-code" src="static/images/orange_outline.png"> Recovered Vehicle</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes robbery with force or weapon, and robbery attempts."><img class="category-code" src="static/images/pink.png"> Robbery</span>
                                  
                                  <br>       
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes Indecent Exposure, Failure to register as a sex offender, and obscene phone calls."><img class="category-code" src="static/images/pink_black_outline.png"> Sex Offense</span>
                                    
                                  <br>     
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="stolen property"><img class="category-code" src="static/images/pink_outline.png"> Stolen Property</span>
                                  
                                  <br>    
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Suicide"><img class="category-code" src="static/images/red_black_outline.png"> Suicide</span>
                                  
                                  <br>   
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes Suspicious Act Towards Female, Suspicious Person, and Suspicious Occurance with Possible Shots Fired."><img class="category-code" src="static/images/purple.png"> Suspicious Occ</span>
                                  
                                  <br> 
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Traffic collision"><img class="category-code" src="static/images/purple_outline.png"> Traffic Collision</span>
                                  
                                  <br>  
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Traffic violation"><img class="category-code" src="static/images/red.png"> Traffic Violation Arrest</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vandalism: The act of changing, modifying or defacing public or private property, including graffiti."><img class="category-code" src="static/images/red_outline.png"> Vandalism</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Towed vehicle"><img class="category-code" src="static/images/darkgreen_black_outline.png"> Vehicle Impounded</span>
                                  
                                  <br>
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vehicle misplaced"><img class="category-code" src="static/images/blue_black_outline.png"> Vehicle Misplaced</span>
                                   
                                  <br>      
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Warrent"><img class="category-code" src="static/images/yellow.png"> Warrant</span>
                                  
                                  <br>       
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="this includes possession of firearms, tear gas, and switchblade knife."><img class="category-code" src="static/images/yellow_black_outline.png"> Weapons Carrying Etc</span>
                                  
                                  <br>      
                                  <span rel="tooltip" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="This includes carrying concealed and deadly discharge."><img class="category-code" src="static/images/yellow_outline.png"> Weapons Offense</span>
                                </p>
                              </div>

                                <!-- <h5>Marker Cluster Key</h5>
                                <img id="marker-img" src="static/images/m1.png"> 1-9 incidents <br>
                                <img id="marker-img" src="static/images/m2.png"> 10-99 incidents <br>
                                <img id="marker-img" src="static/images/m3.png"> 100-999 incidents<br>
                                <img id="marker-img" src="static/images/m4.png"> 1000+ incidents <br> -->
                        </div>
                    </div>
                </div>
            </div>
     
        </div>            
    </div>









    
    <script src="static/js/incidents.js"></script>
    <script src="static/js/markerclusterer.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ key }}&libraries=visualization&callback=startApp" async defer>
    </script>
  </body>
</html>